body {
  margin: 0;
}

header {
  width: 100%;
}
.menu-btn {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
}
nav {
  background-color: rgba(216, 206, 206, 0.123);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  /* top: 0;
  left: 0; */
  width: 100%;
  z-index: 1000;
}
nav img {
  width: 120px;
  height: auto;
}
nav > ul {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  align-items: center;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding-top: 5px;
}
nav > ul > li > a:hover {
  border-top: 3px solid rgba(221, 132, 16, 0.815);
  border-radius: 3px;
}
.Rsection0 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(back.png);
}
.Dsection0 {
  display: flex;
  flex-direction: column;

  height: 100%;
  justify-content: center;
  align-items: center;
}
#zdj4 {
  display: none;
}
.div1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  margin: auto;
}
#p1 {
  margin: 0;
  max-width: 50%;
}
#a1 {
  background-color: rgba(240, 73, 8, 0.966);
  padding: 15px 25px;
  border-radius: 10px;
  width: fit-content;
}
#div4 {
  display: flex;
  align-items: center;
  width: 100%;

  justify-content: center;
}
.Rsection1 {
  display: flex;
  height: 90vh;
  background-color: rgba(55, 190, 184, 0.87);
}
.Dsection1 {
  display: flex;
  justify-content: center;
}
#img2 {
  text-shadow: 20px 2px 6px rgba(0, 0, 0, 0.322);
}
#div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 90%;
}
#div2 > h1 {
  font-size: 5rem;
  color: hsla(0, 0%, 99%, 0.856);
}
#div2 > p {
  font-size: 1rem;
}
.section2 {
  height: 90vh;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#img3 {
  display: flex;
}
#doimg {
  position: relative;
  order: 1;
}
#doimg > h1 {
  position: absolute;
  top: 30%;
  font-size: 5rem;
  z-index: 2;
}
.section2 ul li {
  background-color: aliceblue;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin: 20px;
}
.a2 {
  min-width: 250px;
  max-width: 250px;
  text-align: center;
  padding-left: 20px;
}
li img {
  width: 70px;
  padding-left: 20px;
  padding-right: 20px;
}
.a2:hover {
  text-decoration: underline;
}
.section3 {
  height: 150vh;
  background-color: rgba(245, 241, 23, 0.822);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.section3 > h1 {
  font-size: 5rem;
  height: 10vh;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.section3 > p {
  text-align: center;
}
.galeria {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 25px;
}
#dogaleri {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
#doprzycisku {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}
#doprzycisku > a {
  background-color: rgb(6, 83, 128);
  height: fit-content;
  width: fit-content;
  padding: 20px;
  color: whitesmoke;
  border-radius: 2px;
}
.zdj1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 25px;
}
.zdj2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 25px;
}
.section4 {
  height: 50dvh;
  background-image: url(bg_185.png);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  div {
    margin-left: 20%;
  }
  #email {
    width: 28dvw;
    height: 30px;
  }
  #subscribe {
    background-color: rgb(116, 185, 13);
    border: none;
    padding: 10px;
    color: antiquewhite;
  }
}
.section5 {
  height: 90dvh;
  background-color: rgba(117, 54, 175, 0.568);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    color: whitesmoke;
    font-size: 5rem;
  }
  p {
    color: whitesmoke;
  }
  .post {
    position: relative;
    display: inline-block;
  }
  .date {
    position: absolute;
    top: 7%;
    left: 7%;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.322);
    padding: 8px;
    border-radius: 5px;
    color: antiquewhite;
    font-size: 1.3rem;
    text-align: center;
    font-weight: lighter;
  }
  .title {
    position: absolute;
    top: 70%;
    left: 7%;
    color: antiquewhite;
    width: 300px;
    font-size: 1.3rem;
  }
  .who {
    top: 85%;
    z-index: 1;
    left: 7%;
    position: absolute;
    color: rgba(250, 235, 215, 0.836);
    font-size: 1rem;
    width: 300px;
  }
  .button {
    width: fit-content;
    background-color: red;
    padding: 20px 30px;
  }
  #galeriaS5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }
  #galeriaS5 img {
    height: 100%;
    width: 100%;
  }
}
.section6 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(bg.png);
  background-size: cover;
  flex-direction: column;
  h1 {
    font-size: 5rem;
    font-weight: bold;
  }
  .inputy {
    background-color: rgba(0, 255, 255, 0.575);
    border: none;
    width: 100%;
    outline: none;
    color: antiquewhite;
  }
  .inputy::placeholder {
    color: whitesmoke;
  }
  #div3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 100px;
  }
  #doSection6 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  #poddiv {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
  #lastdiv {
    display: flex;
    flex-direction: column;
  }
  #ostatni {
    display: flex;
    height: 100%;
  }
  #lastdiv p {
    margin: 3px;
  }
  #inp1 {
    height: 40px;
  }
  #inp2 {
    height: 40px;
  }
  #inp3 {
    height: 40px;
  }
  textarea {
    height: 200px;
  }
  .bold {
    font-weight: bold;
  }
  .inputy:hover {
    background-color: rgba(11, 187, 187, 0.795);
    border-left: 5px solid rgba(4, 71, 71, 0.575);
  }
}
footer {
  clear: both;
  height: 10dvh;
  background-color: rgb(77, 75, 75);
  display: flex;
  justify-content: space-around;
  color: antiquewhite;
  p {
    display: flex;
    align-items: center;
  }
  div {
    display: flex;
    align-items: center;
  }
  img {
    height: 27px;
    width: 64px;
  }
  span {
    color: red;
  }
}

@media (max-width: 480px) {
  .menu-btn {
    display: block;
  }
  nav {
    flex-direction: column;
  }
  nav ul {
    display: none;
    margin-top: 15px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav ul.active {
    display: flex;
  }
  .Rsection1 {
    flex-direction: column;
    justify-content: end;
    height: auto;
  }
  .div1 {
    align-items: center;
  }
  #p1 {
    max-width: 100%;
  }
  #img2 {
    width: 100%;
    height: auto;
  }
  #div2 h1 {
    font-size: 4rem;
  }
  #div2 p {
    font-size: 1.5rem;
  }
  .section2 {
    flex-direction: column;
    height: auto;
  }
  .section2 ul {
    padding: 0;
  }
  .section2 ul li {
    height: auto;
  }
  .section2 ul li img {
    padding: 0;
    width: 80%;
    transform: translateX(-20px);
  }
  .a2 {
    transform: translateX(-20px);
  }
  #doimg {
    order: -1;
    text-align: center;
  }

  #img3 {
    width: 100%;
    height: auto;
  }
  .section3 {
    flex-direction: column;
    height: auto;
  }
  .section3 img {
    max-width: 300px;
    object-fit: cover;
  }
  .section4 {
    text-align: center;
  }
  .section4 div {
    width: 80%;
    margin: auto;
    text-align: left;
  }
  #dogaleri {
    flex-direction: column;
  }
  .zdj2 {
    flex-direction: column;
  }
  .section5 {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  #paragraf {
    display: flex;
    text-align: center;
  }
  #galeriaS5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #div3 {
    flex-direction: column !important;
    gap: 20px !important;
    width: 100% !important;
  }
  #poddiv {
    width: 100%;
  }
  #poddiv {
    display: flex;
    width: 80% !important;
    flex-direction: row;
  }
  footer {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .section6 {
    height: auto;
  }
  .inputy {
    width: 80%;
    margin: auto;
  }
  #ostatni {
    width: 80%;
    margin: auto;
  }
}
